.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  max-height: 296px;
  padding: 24px;
  background-color: #fff;
}

.feedback-form input {
  display: flex;
  margin-bottom: 8px;
  max-width: 360px;
  max-height: 80px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 1);
}

.feedback-form textarea {
  display: flex;
  margin-bottom: 16px;
  max-width: 360px;
  max-height: 80px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 1);
}

.feedback-form button {
  max-width: 95px;
  max-height: 40px;
  padding: 8px, 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #4e75ff;
}

textarea {
  resize: none;
}
